VOLC_AK=your_access_key
VOLC_SK=your_secret_key
VOLC_MODEL=doubao-pro-32k
FEISHU_WEBHOOK_URL=https://open.feishu.cn/open-apis/bot/v2/hook/xxx
FEISHU_SECRET=your_signing_secret_optional
SCHEDULER_INTERVAL_MINUTES=1440
